node_modules
.env
*.pyc
__pycache__
.venv
backend/.venv
*.docx
*.pdf
*.md
*.log
*.csv
*.xlsx  
*.pptx
*.zip
*.tar.gz
*.bak
*.tmp
*.swp
*.swo
.DS_Store
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.env
backend/.env
